


  
  @media only screen and (orientation: landscape) {
    
     body{
            margin: 0;
            padding: 0;
            background: url(varma.jpg) no-repeat;
            background-size: cover;
            width: 100%;
            height: auto;
            
     }

     .box{
        width: 320px;
        height: 420px;
        background: rgba( 255, 255, 255, .5);
        color: #000;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        text-align: center;
    }
    
    .avathar{
        margin: 0;
        padding: 0;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -70px;
        left: 110px;
    }
    
    input{
        border: none;
        border-bottom: 1px solid #000;
        background: transparent;
        outline: none;
        height: 40px;
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .btn{
        width: 100px;
        height: 50px;
        border: 2px solid rgb(47, 109, 245);
        border-radius: 50px;
        cursor: pointer;
    }
    .btn:hover{
        color: rgb(47, 109, 245);
    }
    
    #soon{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
  }

  @media only screen and (orientation: portrait){
      body{
         display: none; 
         background: url(rotate.png) no-repeat;
          
      }

  }
